.profile {
  height: 100%;
  overflow-y: auto;
  // overflow: hidden;
  
  background-image: url(../../assets/images/main-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  > .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sidebar {
    position: fixed;
    width: 255px;
    padding: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.68);
    transition-duration: .3s;
    @media screen and (max-width: 1199px) {
      width: 225px;
    }
    @media screen and (max-width: 991px) {
      width: 165px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    &__img {
      width: 100%;
      height: 260px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: url(../../assets/images/asfalt.png);
      &__item {
        position: relative;
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #fafafa;
        border: 1px solid rgba(250, 250, 250, 0.03);
        overflow: hidden;
        cursor: pointer;

        &.active,
        &:hover {
          i {
            transform: rotateZ(15deg);
            font-size: 100px;
          }
        }
        &.active {
          background-color: $main-color;
        }
        i {
          position: absolute;
          opacity: .2;
          right: 50%;
          transition-duration: .5s;
          font-size: 0;
        }
      }
      
    }
  }

  
  .wrap-content {
    padding: 0 30px;
    padding-bottom: 72px;
  }
  
  .social-link {
    a {
      color: $main-color-2;
      margin-right: 6px;
    }
  }
}

.profile-cover {
  position: relative;
  width: 100%;
  height: 260px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background-image: url(../../assets/images/cover-image.jpg);
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      margin-top: 24px;
      color: #fafafa;
      font-weight: 700;
    }
    h3 {
      color: #eeeeee;
    }
  }
  &__footer {
    
  }
  &__socials {
    p {
      color: #E0E0E0;
      font-style: italic;
    }
  }
}

.page-hidden {
  display: none;
}
.page {
  display: block;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  footer {
    background-color: #161718;
    height: 72px;
    padding: 24px 30px;
    display: flex;
  }
  &__title {
    display: flex;
    padding-top: 72px;
    i {
      font-size: 2.307rem;
      margin-right: 12px;
      color: $icon-color;
    }
    h2, h3 {
      font-weight: 700;
      text-transform: uppercase;
      flex-grow: 2;
      border-bottom: 1px solid #e9f2d0;
    }
  }
  &__main-block {
    &__content {
      margin-top: 48px;
      h3 {
        margin-bottom: 12px;
        font-style: italic;
        color: $main-color;
      }
    }
  }
  &__block {
    .page__title {
      i {
        font-size: 1.846rem;
        margin-right: 12px;
      }
    }
    &__content {
      margin-top: 36px;
    }
  }
}

.skills {
}
.skill-item {
  display: flex;
  margin-bottom: 6px;
}
.skill__name {
  flex-basis: 15%;
  text-transform: uppercase;
  align-self: center;
  font-weight: bold;
  font-size: 0.923rem;
  color: #616161;
  font-weight: 500;
  border-top-left-radius: 3px;
  span {
    display: block;
    height: 24px;
  }
}
.skillbar {
  align-self: center;
  position: relative;
  display: block;
  flex-basis: 85%;
  height: 100%;
  padding: 2px;
  border-radius: 5px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  border: 1px solid #c8d0b2;
  &-bar {
    height: 6px;
    border-radius: 3px;
    width: 0px;
    background-color: #afd448;
    // float: left;
  }
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  .hobbie {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    margin-bottom: 30px;
    i {
      // margin-right: 10px;
      // font-size: 50px;
      font-size: 20px;
      color: $main-color;
    }
    span {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}

.timeline-list {
  padding-left: 35px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    top: 5px;
    left: 10px;
    height: 97%;

    background-color: $icon-color;
  }
}
.timeline {
  position: relative;
  margin-top: 36px;
  &:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    left: -31px;
    top: 5px;
    border-radius: 50%;

    background-color: $icon-color;
  }
  &__date {
    padding: 0 12px;
    position: relative;
    margin-bottom: 6px;
    font-weight: 500;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid $icon-color;
    color: $main-color;
  }
  &__study {

  }
  &__place {
    padding-top: 5px;
    font-style: italic;
  }
  &__text {
    margin-top: 12px;
  }
}


// contact
.contact-info {
  margin-top: 36px;
}
.contact-item {
  i {
    color: $main-color-2;
    margin-right: 15px;
  }
  span {
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    padding-left: 5px;
    display: inline-block;
  }
}

.map-wrapper {
  margin-top: 36px;
  width: 100%;
  height: 300px;
  position: relative;
}